target
.DS_Store
node_modules
build
/package
.env.*
!.env.example
debug/
Cargo.lock
Cargo.dup
pnpm-lock.yaml
**/*.rs.bk
data/*
/release-image.*
.vscode/
.idea/

/config/
!/config/pub.bin

/.cargo/
!/.cargo/config.toml