
.DS_Store/
node_modules/
build/
/package/
debug/
*.bak

# Rust / Cargo
**/*.rs.bk
Cargo.dup
target/

# Web build
dist/

data/*
!data/.gitkeep

# environment file
.env.*
!.env.example

# configuration files
/config/config.toml
/config/license
/config/*.bin

ret2shell.tar.gz
