target
.DS_Store
node_modules
build
.svelte-kit
/package
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.idea/
dist/
debug/
Cargo.lock
pnpm-lock.yaml
**/*.rs.bk
data/*
!data/.gitkeep

config/config.toml
config/license